<p-fieldset legend="Cursos">
  <h2>Aprende Programación Backend en C#.NET</h2>
  <span> <strong>Instructor:</strong> Héctor de León</span> <br />
  <span> <strong>Plataforma</strong> Udemy</span> <br />
  <span> <strong>Fecha finalización:</strong> 02-2024</span> <br />
  <span> <strong>Duración:</strong> 6 horas</span>
  <p-divider></p-divider>

  <h2>React: De cero a experto (Hooks y MERN)</h2>
  <span> <strong>Instructor:</strong> Fernando Herrera</span> <br />
  <span> <strong>Plataforma</strong> Udemy</span> <br />
  <span> <strong>Fecha finalización:</strong> 02-2024</span> <br />
  <span> <strong>Duración:</strong> 54 horas</span>
  <p-divider></p-divider>

  <h2>JavaScript Moderno: Guía para dominar ellenguaje</h2>
  <span> <strong>Instructor:</strong> Fernando Herrera</span> <br />
  <span> <strong>Plataforma</strong> Udemy</span> <br />
  <span> <strong>Fecha finalización:</strong> 11-2023</span> <br />
  <span> <strong>Duración:</strong> 22 horas</span>
</p-fieldset>
