<p-fieldset legend="Cursos">
  @for (co of courses(); track $index) {
  <h2>{{ co.title }}</h2>
  <span> <strong>Instructor:</strong> {{ co.instructor }}</span> <br />
  <span> <strong>Plataforma:</strong> {{ co.plataform }}</span> <br />
  <span> <strong>Fecha finalización:</strong> {{ co.date }}</span> <br />
  <span
    ><strong>
      <a [href]="co.url" target="_blank">Certificado</a>
    </strong>
  </span>
  @if ($index < courses().length - 1) {
  <p-divider></p-divider>
  } }
</p-fieldset>
