<p-panel header="Portafolio" class="m-1">
  <div class="grid">
    <div class="col-fixed">
      <img
        class="border-circle"
        src="./assets/perfil.jpg"
        alt="Foto de perfil"
        height="200px"
      />
    </div>
    <div class="col">
      <div class="ml-3">
        <h1>{{ info.name }}</h1>
        <p>{{ info.description }}</p>
        <span>
          <a
            class="mr-3"
            href="https://github.com/sebastian461"
            target="_blank"
          >
            <i class="pi pi-github" style="font-size: 1.2rem"></i>
          </a>
          <a
            class="mr-3"
            href="https://www.linkedin.com/in/sebasti%C3%A1n-%C3%A1-8b35b711a/"
            target="_blank"
          >
            <i class="pi pi-linkedin" style="font-size: 1.2rem"></i>
          </a>
          <a class="mr-3" href="mailto:sebastiano-461@hotmail.com">
            <i class="pi pi-envelope" style="font-size: 1.2rem"></i>
          </a>
          <a
            class="mr-3"
            href="https://drive.google.com/file/d/1577ulW9R7qhLT12Hro3dC95VYQrEmnG3/view?usp=drive_link"
            target="_blank"
          >
            <i class="pi pi-file-pdf" style="font-size: 1.2rem"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</p-panel>
