<portafolio-about />

<div class="grid">
  <div class="col-12 md:col-6">
    <portafolio-experience />
  </div>

  <div class="col-12 md:col-6">
    <portafolio-education />
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Cursos">
      <h2>Aprende Programación Backend en C#.NET</h2>
      <span> <strong>Instructor:</strong> Héctor de León</span> <br />
      <span> <strong>Plataforma</strong> Udemy</span> <br />
      <span> <strong>Fecha finalización:</strong> 02-2024</span> <br />
      <span> <strong>Duración:</strong> 6 horas</span>
      <p-divider></p-divider>

      <h2>React: De cero a experto (Hooks y MERN)</h2>
      <span> <strong>Instructor:</strong> Fernando Herrera</span> <br />
      <span> <strong>Plataforma</strong> Udemy</span> <br />
      <span> <strong>Fecha finalización:</strong> 02-2024</span> <br />
      <span> <strong>Duración:</strong> 54 horas</span>
      <p-divider></p-divider>

      <h2>JavaScript Moderno: Guía para dominar ellenguaje</h2>
      <span> <strong>Instructor:</strong> Fernando Herrera</span> <br />
      <span> <strong>Plataforma</strong> Udemy</span> <br />
      <span> <strong>Fecha finalización:</strong> 11-2023</span> <br />
      <span> <strong>Duración:</strong> 22 horas</span>
    </p-fieldset>
  </div>

  <!-- <div class="col-12 md:col-6">
    <p-fieldset legend="Proyectos"></p-fieldset>
  </div> -->

  <div class="col-12 md:col-6">
    <p-fieldset legend="Habilidades">
      <div class="grid nested-grid">
        <div class="col-12">
          <div class="grid align-items-center">
            <div class="col-fixed">
              <img
                src="../../../../assets/Angular_gradient.png"
                alt="Angular"
                height="60px"
              />
            </div>
            <div class="col">
              <h2 class="mt-0">Angular</h2>
              <p-progressBar [value]="50"></p-progressBar>
            </div>
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="grid nested-grid">
        <div class="col-12">
          <div class="grid align-items-center">
            <div class="col-fixed">
              <img
                src="../../../../assets/React.png"
                alt="React"
                height="60px"
              />
            </div>
            <div class="col">
              <h2 class="mt-0">React</h2>
              <p-progressBar [value]="50"></p-progressBar>
            </div>
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="grid nested-grid">
        <div class="col-12">
          <div class="grid align-items-center">
            <div class="col-fixed">
              <img
                src="../../../../assets/Laravel.png"
                alt="Laravel"
                height="60px"
              />
            </div>
            <div class="col">
              <h2 class="mt-0">Laravel</h2>
              <p-progressBar [value]="25"></p-progressBar>
            </div>
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="grid nested-grid">
        <div class="col-12">
          <div class="grid align-items-center">
            <div class="col-fixed">
              <img
                src="../../../../assets/netcore.png"
                alt=".NET"
                height="60px"
              />
            </div>
            <div class="col">
              <h2 class="mt-0">.NET</h2>
              <p-progressBar [value]="25"></p-progressBar>
            </div>
          </div>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>
