<p-panel header="Portafolio" class="m-1">
  <div class="grid">
    <div class="col-fixed">
      <img
        class="border-circle"
        src="../../../../assets/perfil.jpg"
        alt="Foto de perfil"
        height="200px"
      />
    </div>
    <div class="col">
      <div class="container ml-3">
        <h1>Sebastián Álava</h1>
        <p>
          Soy un ingeniero en Ciencias de la Computación con experiencia en
          desarrollo full stack junior. Aunque actualmente estoy buscando
          oportunidades laborales, mi interés y habilidad en el desarrollo web
          me mantienen en constante aprendizaje y crecimiento profesional. Me
          apasiona explorar nuevas tecnologías y tengo un compromiso firme con
          el aprendizaje autónomo, lo que me permite adaptarme y evolucionar en
          el dinámico campo de la informática.
        </p>
        <span>
          <a
            class="mr-3"
            href="https://github.com/sebastian461"
            target="_blank"
          >
            <i class="pi pi-github" style="font-size: 1.2rem"></i>
          </a>
          <a
            class="mr-3"
            href="https://www.linkedin.com/in/sebasti%C3%A1n-%C3%A1-8b35b711a/"
            target="_blank"
          >
            <i class="pi pi-linkedin" style="font-size: 1.2rem"></i>
          </a>
          <a class="mr-3" href="mailto:sebastiano-461@hotmail.com">
            <i class="pi pi-envelope" style="font-size: 1.2rem"></i>
          </a>
          <a
            class="mr-3"
            href="/src/app/documents/CV_Sebastian_Alava.pdf"
            target="_blank"
          >
            <i class="pi pi-file-pdf" style="font-size: 1.2rem"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="Experiencia">
      <h2>Asistente en Sistemas</h2>
      <span>ITSEP, Noviembre 2022 - Abril 2023</span>
      <p>Desarrollo del sistema informático de Autoevaluacióninstitucional.</p>
      <p-divider></p-divider>
      <h2>Pasante IT</h2>
      <span>Empresa CNPC, Abr 2022 - Oct 2022</span>
      <ul>
        <li>Asistencia técnica.</li>
        <li>Mantenimiento y reparación de equipos.</li>
        <li>Inventariado.</li>
        <li>Mantenimiento de servidores.</li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Educación">
      <h2>Universidad UTE</h2>
      <span>2019 - 2023</span>
      <p>Ingeniería en Ciencias de la Computación</p>
      <p-divider></p-divider>
      <h2>Academia Aeronáutica "MayorPedro Traversari"</h2>
      <span>2016</span>
      <p>Bachiller en Ciencias</p>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Cursos"></p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Proyectos"></p-fieldset>
  </div>
  <div class="col-12">
    <p-fieldset legend="Skills"></p-fieldset>
  </div>
</div>
