<p-panel header="Portafolio" class="m-1">
  <h1>Sebastián Álava</h1>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="Experiencia"></p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Educación"></p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Cursos"></p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Proyectos"></p-fieldset>
  </div>
  <div class="col-12">
    <p-fieldset legend="Skills"></p-fieldset>
  </div>
</div>
