<p-fieldset legend="Habilidades">
  <div *ngFor="let skill of skills; let i = index">
    <div class="grid nested-grid">
      <div class="col-12">
        <div class="grid align-items-center">
          <div class="col-fixed">
            <img [src]="skill.img" [alt]="skill.skill" height="60px" />
          </div>
          <div class="col">
            <h2 class="mt-0">{{ skill.skill }}</h2>
            <p-progressBar [value]="skill.percent"></p-progressBar>
          </div>
        </div>
      </div>
    </div>
    <p-divider *ngIf="i < skills.length - 1"></p-divider>
  </div>
</p-fieldset>
